<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.21.12/css/uikit.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.21.12/js/uikit.min.js'></script>

    <title>QuantumHub</title>

    <script src='/scripts/api.js'></script>
  </head>
  <body>
    <h1>QuantumHub</h1>
    {{{body}}}
  </body>
</html>