$font-family-base: 'Nunito', sans-serif;
$border-radius: 5px;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.5rem,
);

@import '../../../node_modules/bootstrap/scss/bootstrap';
