@use '../../../node_modules/bulma/sass' with (
  $family-primary: '"Nunito", sans-serif',
  $success: #029e45,
  $danger: #e63946
);

textarea.configuration {
  font-family: 'Courier New', Courier, monospace;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
