<section class='section'>
  <h1 class='title'>Configuration</h1>
  <div class='bd-snippet-source bd-theme-html'>
    <p class='bd-snippet-title'>
      <span class='bd-snippet-tag bd-is-html'>YAML</span>
    </p>

    <div class='bd-snippet-code bd-highlight-full'>
      <figure class='highlight'>
        <pre><code class='language-html' data-lang='html'><span class='nt'>{{config}}</span></code></pre>
      </figure>
    </div>
  </div>

</section>