<section class='section'>
  <h1 class='title'>Configuration</h1>

  <div class='field'>
    <label class='label'>Loaded Configuration</label>
    <div class='control'>
      <textarea class='textarea configuration' placeholder='Link textarea' disabled rows='30'>{{config}}</textarea>
    </div>
  </div>

</section>