<section class='section'>
  <h1 class='title'>Running processes</h1>
  <h2 class='subtitle'>
    Currently the following processes are running:
  </h2>

  <table class='table' style='width: 100%;'>
    <thead>
      <tr>
        <th>Name</th>
        <th width='120px'>Status</th>
        <th width='180px'>Start time</th>
        <th width='100px'></th>
      </tr>
    </thead>
    <tbody id='processes-table-body'>

    </tbody>
  </table>

</section>

<script src='/scripts/api.js'></script>
<script src='/scripts/home.js'></script>