<div class='content' id='content'>
  Running processes
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Start time</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='processes-table-body'>

    </tbody>
  </table>
</div>

<script src='/scripts/api.js'></script>
<script src='/scripts/home.js'></script>