<section class='section'>
  <h1 class='title'>MQTT Connection</h1>

  <div class="field has-addons">
    <p class="control">
      <button id='status_start' {{#if (eq connected true )}}disabled{{/if}} class='button is-success is-small'
        onclick='onMqttStart()'>
        <span class="icon is-small">
          <i class='fa-solid fa-play'></i>
        </span>
        <span>Start</span>
      </button>
    </p>
    <p class="control">
      <button id='status_stop' {{#if (eq connected false )}}disabled{{/if}} class='button is-danger is-small'
        onclick='onMqttStop()'>
        <span class="icon is-small">
          <i class='fa-solid fa-stop'></i>
        </span>
        <span>Stop</span>
      </button>
    </p>

    <p class="control">
      <button id='status_restart' {{#if (eq connected false )}}disabled{{/if}} class='button is-warning is-small'
        onclick='onMqttRestart()'>
        <span class="icon is-small">
          <i class='fa-solid fa-rotate-right'></i>
        </span>
        <span>Restart</span>
      </button>
    </p>
  </div>

  <table class='table' style='width: 100%;'>
    <thead>
      <tr>
        <th>Subscriptions for attributes</th>
      </tr>
    </thead>
    <tbody>
      {{#each attributes}}
      <tr>
        <td>{{this}}</td>
      </tr>
      {{/each}}
  </table>

  <table class='table' style='width: 100%;'>
    <thead>
      <tr>
        <th>Subscriptions for topics</th>
      </tr>
    </thead>
    <tbody>
      {{#each topics}}
      <tr>
        <td>{{this}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<script src='/scripts/mqtt.js'></script>