<div class='columns'>
  <div class='column is-three-quarters'>
    <table style='width: 100%;' class='table'>
      <thead>
        <tr>
          <th style='width: 35%;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id='attribute-list'>
      </tbody>
    </table>
  </div>
  <div class='column'>
    <div id='state-details' style='display: none;'>
      <h5 class='title is-5'>History (last 10)</h5>
      <h5 class='title is-5'>Attribute details</h5>
    </div>
  </div>
</div>

<script src='/scripts/process-states.js'></script>