<div class='field has-addons'>
  <p class='control'>
    <button class='button is-small' id='trace-filter' onclick="filterLogs('trace')">
      <span>TRACE</span>
    </button>
  </p>
  <p class='control'>
    <button class='button is-small' id='debug-filter' onclick="filterLogs('debug')">
      <span>DEBUG</span>
    </button>
  </p>
  <p class='control'>
    <button class='button is-small is-active' id='info-filter' onclick="filterLogs('info')">
      <span>INFO</span>
    </button>
  </p>
  <p class='control'>
    <button class='button is-small' id='warn-filter' onclick="filterLogs('warn')">
      <span>WARN</span>
    </button>
  </p>
  <p class='control'>
    <button class='button is-small' id='error-filter' onclick="filterLogs('error')">
      <span>
        ERROR
      </span>
    </button>
  </p>
  <p class='control'>
    <button class='button is-small' id='fatal-filter' onclick="filterLogs('fatal')">
      <span>FATAL</span>
    </button>
  </p>
</div>

<table class='table logs' style='width: 100%;'>
  <thead>
    <tr>
      <th width='130'>Time</th>
      <th width='100'>Level</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody id='logs'></tbody>
</table>